.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins";
    color: #151515;
}

.button::after {
    content: "";
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.button::after {
    background-image: url(../img/category-menu/arrow.svg);
    margin-left: 12px;
}
.button-wrapper {
    margin-top: 48px;
}