.content__line{
    padding: 0 calc(50% - 630px);
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    gap: 31px;
}
.content {
    padding: 0 calc(50% - 595px);

}
.content__title {
    font-family: "Poppins";
    font-size: 18px;
    margin-bottom: 16px;
}
.content__menu {
    list-style: none;
    font-family:"Open Sans";
    padding: 0;
    width: 269px;
}
.content__menu_link {
    margin-bottom: 12px;
    color: #6A983C;
    text-decoration: underline;
    margin-bottom: 12px;
}
.content__menu_item {
    margin-bottom: 12px;
}
.content_general_wrapper {
    gap: 203px;
}